.Issue {
  color: white;
  border-bottom: 1px solid #282c34;
  padding: 5px 20px;

  @media (max-width: 960px) {
    font-size: 15px;
    padding: 5px 20px;
  };
  
  @media (max-width: 760px) {
    font-size: 14px;
  };

  @media (max-width: 550px) {
    font-size: 13px;
  };

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: #ccb07d;
    };
  };

  &__title {
    display: inline-block;
    font-weight: bold;

    @media (max-width: 690px) {
      width: 100%;
    };

    &:first-letter {
      text-transform: uppercase;
    };
  };

  &__username {
    float: right;

    @media (max-width: 690px) {
      float: none;
      font-size: 12px;
    };
    
    a {
      color: wheat;

      &:hover {
        color: #ccb07d;
      };
    };
  };
};