$blue: #3a404c;
$black_with_opacity: #00000072;

$first_step_width: 1000px;
$second_step_width: 965px;
$third_step_width: 730px;
$fourth_step_width: 550px;

$search_top_height: 25px;
$transition_box_shadow: box-shadow .15s ease-in;

.Main {
    header {
        background: $blue;
    };

    .search {
        padding: 10px 5px;
        margin: 0 auto;
        width: 960px;
        height: $search_top_height;

        @media (max-width: $second_step_width) {
            display: table-cell;
        };

        &__button {
            display: inline-block;
            width: 15%;

            @media (max-width: $second_step_width) {
                display: none;
            };

            button {
                width: 100%;
                background: #ccc;
                border: 0;
                border-radius: 2px;
                padding: 5px 10px;
                min-width: 70px;
                transition: $transition_box_shadow;

                &:hover {
                    box-shadow: 0 0 6px 0 $black_with_opacity;
                };
            };
        };

        &__field {
            display: inline-flex;
            width: 85%;

            @media (max-width: $second_step_width) {
                width: 100%;
            };

            input {
                width: 100%;
                padding: 5px 10px;
                border: 0;
                margin-right: 5px;
                border-radius: 2px;
                transition: $transition_box_shadow;

                @media (max-width: $second_step_width) {
                    margin: 0 10px;
                    font-size: 15px;
                };
                
                @media (max-width: $third_step_width) {
                    font-size: 14px;
                };
            
                @media (max-width: $fourth_step_width) {
                    font-size: 13px;
                };

                &:focus {
                    box-shadow: inset 0px 0px 4px 0px $black_with_opacity;
                };
            };
        };
    };

    .results-container {
        margin: 0 auto;
        max-width: 1000px;
    
        @media (max-width: $first_step_width) {
            margin-top: 0;
        };

        .results-wrapper {
            position: absolute;
            bottom: 0;
            top: $search_top_height + 10px * 2;
            width: 100%;
            overflow-y: auto;
            max-width: 1000px;
        };

        .results {
            background: $blue;
            margin: 0 auto;
        };
    };
};