header.Main {
    background: #3a404c;

    .search {
        padding: 10px 5px;
        margin: 0 auto;
        width: 960px;

        @media (max-width: 965px) {
            display: table-cell;
        }

        .search__button {
            display: inline-block;
            width: 15%;

            @media (max-width: 965px) {
                display: none;
            }

            button {
                width: 100%;
                background: #ccc;
                border: 0;
                border-radius: 2px;
                padding: 5px 10px;
                min-width: 70px;
                transition: box-shadow .3s ease-in-out;

                &:hover {
                    box-shadow: 0 0 6px 0 #00000052;
                }
            }
        }

        .search__field {
            display: inline-flex;
            width: 85%;

            @media (max-width: 965px) {
                width: 100%;
            }

            input {
                width: 100%;
                padding: 5px 10px;
                border: 0;
                margin-right: 5px;
                border-radius: 2px;
                transition: box-shadow .15s ease-in;

                @media (max-width: 965px) {
                    margin: 0 10px;
                    font-size: 15px;
                }
                
                @media (max-width: 760px) {
                    font-size: 14px;
                }
            
                @media (max-width: 550px) {
                    font-size: 13px;
                }

                &:focus {
                    box-shadow: inset 0px 0px 4px 0px #282c34;
                }
            }
        }
    }
}

main.Main {
    min-height: 100%;
    color: white;
    margin-top: 10px;

    @media (max-width: 1000px) {
        margin-top: 0;
    }

    article.content {
        background: #3a404c;
        max-width: 1000px;
        min-height: 100%;
        margin: 0 auto;

        .issues {
            margin: 0 auto;
            max-height: 90vh;
            overflow: auto;

            @media (max-width: 1000px) {
                max-height: 93vh;
            }
        }
    }
}