main.Issue {
    width: 960px;
    margin: 0 auto;
    color: white;

    @media (max-width: 965px) {
        width: auto;
    }
}

article.Issue {    
    .title {
        padding: 10px 0;

        @media (max-width: 730px) {
            padding: 8px 5px;
        }    

        .comments {
            margin: 0;
            vertical-align: text-bottom;

            @media (max-width: 730px) {
                display: none;
            }    
        }
    }

    .title__username {
        display: inline-block;
        background: #3a404c;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: normal;

        @media (max-width: 730px) {
            padding: 2px 5px;
        }
    }

    .title__title {
        padding: 0 0 0 10px;

        h1 {
            display: inline;
            font-size: 16px;

            @media (max-width: 730px) {
                font-size: 15px;
            }
        }

        .gray {
            color: #ccc;

            @media (max-width: 730px) {
                font-size: 15px;
            }
        }
    }

    .issue {
        display: inline-block;
        width: 50%;
        background: #3a404c;
        padding: 10px 20px;
        margin-right: 15px;

        @media (max-width: 965px) {
            width: auto;
            margin-right: 0;
            padding: 10px 10px;
        }

        @media (max-width: 730px) {
            display: block;
            padding: 5px 5px;
        }

        .body {
            p {
                margin: 0 0 10px;

                @media (max-width: 730px) {
                    font-size: 15px;
                }    
            }
        }

        pre {
            display: block;
            padding: 10px;
            background: #323742;
            overflow: auto;
        }

        code {
            font-size: 12px;
        }
    }

    .comments {
        display: inline-block;
        vertical-align: top;
        width: 40%;

        @media (max-width: 965px) {
            width: auto;
            margin-top: 10px;
        }

        .info {
            background: #323742;

            .author {
                display: inline-block;
                padding: 10px;
            }
        }

        button.url {
            background-image: url('../../icons/url.svg');
            background-color: #3a404c;
            border: 0;
            width: 41px;
            height: 41px;
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 12px;
            vertical-align: bottom;
            float: right;
            cursor: pointer;
        }

        .comments-to-issue {
            font-weight: bold;
            padding: 10px 0 15px;

            @media (max-width: 965px) {
                padding: 10px 0 15px 5px;
            }    
        }
    }
}