$light_blue: #d8e0f1;
$third_step_width: 730px;

.Comment {
    padding-bottom: 10px;
    width: 100%;

    &__title {
        background: #414856;
        padding: 10px;

        a {
            font-weight: bold;
        };
    };

    &__body {
        background: #3a404c;
        padding: 5px 10px;
        color: $light_blue;
        overflow: hidden;

        p {
            margin: 10px 0;

            @media (max-width: $third_step_width) {
                font-size: 15px;
            };
        };

        blockquote {
            background: #323742;
            margin: 0;
            padding: 10px 20px;
            border-left: 3px solid $light_blue;
            margin-bottom: 5px;
        };
    };
};